.wrapper {
  border-radius: 3px;
  overflow: hidden;
}

.container {
  background-color: #ECEEFB;
}

.barCompleted {
  background-color: #4538D3;
  width: 80%;
  opacity: 0;
  height: 6px;
  animation: progressor 2s ease-in-out forwards;
  border-radius: 3px;
}

.label {
  font-size: 0;
  color: #4538D3;
}

.barCompleted1 {
  background-color: #4538D3;
  width: 70%;
  opacity: 0;
  height: 6px;
  border-radius: 3px;
  animation: progressor 2s ease-in-out forwards;
}


.barCompleted2 {
  background-color: #4538D3;
  width: 90%;
  opacity: 0;
  height: 6px;
  border-radius: 3px;
  animation: progressor 2s ease-in-out forwards;
}


@keyframes progressor {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.icon-shadow {
  box-shadow: 0px 1.00023353099823px 4px 0px rgba(0, 0, 0, 0.15);
}