@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F7F9FC;
    overflow-x: hidden;
}

[data-theme='dark'] body {
    margin: 0;
    padding: 0;
    background-color: #261E35;
    overflow-x: hidden;

}

.cardShadow {
    box-shadow: 0px 1.00023353099823px 2.00046706199646px 0px rgba(0, 0, 0, 0.20);
}

.centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.run {
    animation: move 12s infinite ease-in-out;
}

.run1 {
    animation: moves 12s infinite ease-in-out;
}

@keyframes move {
    0% {
        transform: translate(20px, 20px);
    }

    40% {
        transform: translate(-20px, 20px);
    }

    70% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(20px, 20px);
    }
}

@keyframes moves {
    0% {
        transform: translate(20px, 20px);
    }

    40% {
        transform: translate(20px, -20px);
    }

    70% {
        transform: translate(-20px, 20px);
    }

    100% {
        transform: translate(20px, 20px);
    }
}