@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F7F9FC;
    overflow-x: hidden;
}

.dark body {
    margin: 0;
    padding: 0;
    background-color: #261E35;
    overflow-x: hidden;
}

.activeDropdown {
    background-color: #EDECFB;
}

.dark .activeDropdown {
    background-color: #164C3C;
}

.cardShadow {
    box-shadow: 0px 1.00023353099823px 2.00046706199646px 0px rgba(0, 0, 0, 0.20);
}

.centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.run {
    animation: move 12s infinite ease-in-out;
}

.run1 {
    animation: moves 12s infinite ease-in-out;
}

@keyframes move {
    0% {
        transform: translate(20px, 20px);
    }

    40% {
        transform: translate(-20px, 20px);
    }

    70% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(20px, 20px);
    }
}

@keyframes moves {
    0% {
        transform: translate(20px, 20px);
    }

    40% {
        transform: translate(20px, -20px);
    }

    70% {
        transform: translate(-20px, 20px);
    }

    100% {
        transform: translate(20px, 20px);
    }
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4538D3;
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #00E177;
    border-radius: 5px;
}