.ql-container.ql-snow {
    border: none;
}

.ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #ECEEFB;
    padding-bottom: 13px;
}

html.dark .ql-toolbar.ql-snow {
    border-bottom: 1px solid #5E586B;
}

html.dark .ql-toolbar.ql-snow .ql-formats svg {
    filter: invert(100%) contrast(119%);
}

html.dark .ql-toolbar.ql-snow .ql-formats .ql-picker-label {
    color: #fff;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 150%;
    left: 27px;
    top: 0px;
    background-color: #ECEEFB;
    box-sizing: border-box;
}

.iconCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin-bottom: 0;
}